<header class="header">
  <div class="container">
    <div class="header__container">
      <a href="/" class="header__logo">
        <img
          class="header__logo-img"
          src="assets/images/icons/Logo.svg"
          alt="Site logo Site"
        />
        <p class="header__logo-text">Cooks Delight</p>
      </a>
      <ul class="header-nav">
        <li class="header-nav__item">
          <a class="header-nav__link" href="/">Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="/">Recipes</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="/">Cooking tips</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="/">About us</a>
        </li>
      </ul>
      <div>
        <a href="">Subscribe</a>
      </div>
    </div>
  </div>
</header>
