<div class="container">
  <section class="subscribe">
    <p class="subscribe__sub-title">Subscribe</p>
    <h2 class="subscribe__title">Join the fun Subscribe now!</h2>
    <p class="subscribe__text">
      Subscribe to our newsletter for a weekly serving of recipes, cooking tips,
      and exclusive insights straight to your inbox.
    </p>
    <form class="subscribe__form">
      <div class="subscribe__form-box">
        <input
          class="subscribe__form-input"
          type="text"
          placeholder="Email Address"
        />
        <button class="subscribe__form-btn" type="submit">Subscribe</button>
      </div>
    </form>
  </section>
</div>
