<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div class="footer__container">
        <div class="footer-logo">
          <img
            class="footer-logo__hover-img"
            src="assets/images/icons/logo.svg"
            alt="Site Logo"
          />
          <img
            class="footer-logo__basic-img"
            src="assets/images/icons/footer-logo.svg"
            alt="Site logo"
          />
          <p class="footer-logo__text">Cooks Delight</p>
        </div>
        <ul class="footer__nav">
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="">Home</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="">Recipes</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="">Cooking tips</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="">About us</a>
          </li>
        </ul>
        <ul class="footer__social-media">
          <li class="footer__social-media-item">
            <a class="footer__social-media-link" href="/">
              <svg class="footer__social-media-svg">
                <use xlink:href="assets/images/icons/sprite.svg#icon-tiktok" />
              </svg>
            </a>
          </li>
          <li class="footer__social-media-item">
            <a class="footer__social-media-link" href="/">
              <svg class="footer__social-media-svg">
                <use
                  xlink:href="assets/images/icons/sprite.svg#icon-facebook"
                />
              </svg>
            </a>
          </li>
          <li class="footer__social-media-item">
            <a class="footer__social-media-link" href="/">
              <svg class="footer__social-media-svg">
                <use
                  xlink:href="assets/images/icons/sprite.svg#icon-instagram"
                />
              </svg>
            </a>
          </li>
          <li class="footer__social-media-item">
            <a class="footer__social-media-link" href="/">
              <svg class="footer__social-media-svg">
                <use xlink:href="assets/images/icons/sprite.svg#icon-youtube" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer__copyright">Copyright: &#169; 2024 Cooks Delight.</p>
    </div>
  </div>
</footer>
