@import "assets/styles/main.scss";

body {
  font-family: Roboto, sans-serif;
  background-color: #f0ebe1;
  color: $blackColor;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-left: 64px;
  padding-right: 64px;

  @include sm {
    width: 768px;
  }

  @include md {
    width: 1024px;
  }

  @include lg {
    width: 1280px;
  }

  @include xl {
    width: 1440px;
  }
}
